<div id="InfoGeneral">

	<!-- Sección del eslogan-->
	<section class = "container minwidth" id="start">
		<div class="panel panel-default" style="width:70%">
			<div class="panel heading">
				<h2>Eslogan</h2>
			</div>
			<%=form_for :slogan, url: slogans_path do |f| %>
				<p>
					<%= f.label :text %><br>
					<%= f.text_area :text, :class =>'form-control' %>
				</p>

				<p>
					<%= f.submit 'Guardar Eslogan' , :class => 'btn btn-default' %>
				</p>
		<% end %>
		</div>
	</section>

	<!--Seccion ACERCA DE-->
	<section class = "container minwidth" id="acerca_de">
		<div class="panel panel-default" style="width:70%">
			<div class="panel heading">
				<h2>Acerca de:</h2>
			</div>
			<div class="form-group">
				<label for="usr">Cambiar Sección «Acerca de Nosotras»</label>
				<%=form_for :description, url: descriptions_path do |f| %>
					<p>
						<%= f.label :text %><br>
						<%= f.text_area :text, :class =>'form-control' %>
					</p>
					<p>
						<%= f.submit 'Guardar' , :class => 'btn btn-default' %>
					</p>
			<% end %>
			</div>
		</div>
	</section>

	<!--Container content-->
	<section class = "container minwidth" id="contacto">
		<div class="panel panel-default" style="width:70%">
			<div class="panel heading">
				<h2>Contacto:</h2>
			</div>
			<div class="row">
				<div class="col-sm-4">
					Dirección:<br>
					<input type="text" class="form-control" id="dir" style="float:left;width:30%;min-width:200px">
					<button class="btn btn-default" type="submit" style="float:left;">Actualizar</button>
				</div>
				<div class="col-sm-4">
					Teléfono:<br>
					<input type="text" class="form-control" id="tel" style="float:left;width:30%;min-width:200px">
					<button class="btn btn-default" type="submit" style="float:left;">Actualizar</button>
				</div>
				<div class="col-sm-4">
					Correo:<br>
					<input type="text" class="form-control" id="mail" style="float:left;width:30%;min-width:200px">
					<button class="btn btn-default" type="submit" style="float:left;">Actualizar</button>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					Ciudad:<br>
					<input type="text" class="form-control" id="ciudad" style="float:left;width:30%;min-width:200px">
					<button class="btn btn-default" type="submit" style="float:left;">Actualizar</button>
				</div>
				<div class="col-sm-4">
					Red Social 1:<br>
					<input type="text" class="form-control" id="socnet" style="float:left;width:30%;min-width:200px">
					<button class="btn btn-default" type="submit" style="float:left;">Actualizar</button>
				</div>
				<div class="col-sm-4">
					Red Social 2:<br>
					<input type="text" class="form-control" id="socnet2" style="float:left;width:30%;min-width:200px">
					<button class="btn btn-default" type="submit" style="float:left;">Actualizar</button>
				</div>
			</div>
		</div>
	</section>
</div>
